PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/KAI
JWT_SECRET=nnti_diganti
JWT_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=1088668298743-u931olu8h0f5ecngdv43cev7fuo61h18.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3007/api/auth/google/callback